.app
{
	width:100vw;
	height:100vh;
	background: beige;
}


.header
{

    height: 50px;
    background: black;
    color: white;
    font-size: 30px;

    display:flex;
    justify-content: space-around;
    align-items:center;
}
